:host {
    
    mat-toolbar {
        
        display: flex;
        
        .left {
            
            display: flex;
            flex: 1;
            align-items: center;
            
            .title {
                
                font-size: 12px;
                
                &:first-line {
                    
                    font-size: 16px;
                    
                }
                
            }
            
            i {
                
                margin-right: 10px;
                
            }
            
        }
        
        .right {
            
            flex: 0 1 100px;
            justify-content: flex-end;
            
        }
        
    }
    
}
