:host {
    
    background: #1f1f1f;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    mat-card {
        
        height: 100%;
        display: flex;
        flex-direction: column;
        
        label {
            
            display: block;
            font-size: 10px;
            color: #e1e1e1;
            margin-bottom: 10px;
            
        }
        
        mat-card-title {
            
            flex: 0 1 50px;
            
        }
        mat-card-content {
            
            flex: 1;
            display: flex;
            background: #2f2f2f;
            
            .left {
                
                flex: 1;
                
                border-right: 1px solid #3f3f3f;
                
                padding: 5px;
                
                .top {
                    
                    padding: 2px;
                    border: 1px solid #3f3f3f;
                    background: #2f2f2f;
                    
                    .url {
                        
                        color: greenyellow;
                        
                    }
                    
                }
                
                .input {
                
                }
                
                .outputs {
                    
                    height: 100%;
                    overflow: auto;
                    
                }
                
            }
            
            .list {
                
                flex: 0 1 200px;
                border-right: 1px solid #3f3f3f;
                
                .select {
                    
                    border-bottom: 1px solid #3f3f3f;
                    padding-bottom: 10px;
                    
                }
                .wrapper {
                    
                    height: 100%;
                    
                    overflow: auto;
                    
                    ul {
                        
                        list-style-type: square;
                        padding: 20px;
                        margin: 0;
                        
                        li {
                            
                            font-size: 10px;
                            margin: 2px;
                            
                        }
                        
                    }
                    
                }
                
            }
            
            .right {
                
                flex: 0 1 70px;
                
                padding: 10px;
                
            }
            
        }
        
        mat-card-actions {
            
            flex: 0 1 30px;
            
        }
        
    }
    
}
