:host {
    
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #29262a 0%, #131313 100%);
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    app-header {
        
        flex: 0 1 80px;
        
    }
    
    .content {
        
        flex: 1;
        
    }
    
    app-generator {
        
        flex: 0 1 350px;
        margin: 30px 30px 0;
        
    }
    
}
