:host {
    
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    app-header {
        
        flex: 0 1 80px;
        background: blue;
        
    }
    
    .content {
        
        flex: 0 1 300px;
        background: yellow;
        
    }
    
    app-generator {
        
        flex: 1;
        background: red;
        //margin: 30px 30px 0;
        
    }
    
}
