@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~prismjs/themes/prism-tomorrow.css';

body {
    
    margin: 0;
    padding: 0;
    
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    
    background: linear-gradient(90deg, #29262a 0%, #131313 100%);
    
}

monaco-editor {
    
    height: 100%;
    width: 100%;
    display: block;
    
}

