:host {
    
    .wrapper {
        
        padding: 0 20px;
        
        color: #e1e1e1;
        
        display: flex;
        
        a {
            
            color: mediumpurple;
            
        }
        
        .left {
        
        }
        
        .right {
        
        }
        
    }
    
}
