<div class="wrapper">

    <div class="left">

        <!--<div class="logo">-->

        <!--<img src="../../assets/logo-white.jpg">-->

        <!--</div>-->

        <p>
            faker.ai is a free "fake" data generation api service.
        </p>

        <p>
            You can query our api's via HTTPs REST
        </p>

        <p>

            For questions & comments reach out to <a href="mailto:matthew@matthewdavis.io">matthew@matthewdavis.io</a>
            or
            visit <a href="https://matthewdavis.io">matthewdavis.io</a>.

        </p>

        <h1>curl https://api.faker.ai/card/user?n=1</h1>

        <ngx-prism [code]="json" language="javascript"></ngx-prism>

    </div>

    <div class="right">

        <h1>Example Angular Service:</h1>
        <ngx-prism [code]="code" language="javascript"></ngx-prism>

    </div>

</div>
